{% extends 'layouts/admin/base.html.twig' %}

{% block body %}

    <div class='container'>
        <h1>Проверка корректности обработки текста</h1>


        {% for document in documents %}
            <div class="upload-item row">
                <div class="tree-container col-4"></div>

                <form class="col-8" action='{{ path('admin_document_confirm_upload') }}' method='POST' enctype="multipart/form-data">
                    <div>

                        <div class="form-group">
                            <label for="">Название файла</label>

                            <input class="form-control" name="{{ document.filename }}[origin_filename]" type="text" value="{{ document.origin_filename }}">
                        </div>

                        <div class="form-group">
                            <label for="">Название производителя</label>

                            <select class="form-control" name="{{ document.filename }}[manufacturer]">
                                {% for manufacturer in manufacturers %}
                                    <option>{{ manufacturer.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Языка каталога</label>

                            <select class="form-control" name="{{ document.filename }}[lang]">
                                {% for lang in languages %}
                                    <option>{{ lang.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Серия</label>
                            <input class="form-control" type="text" name="{{ document.filename }}[series]">
                        </div>

                        <div class="form-group">
                            <label>Текст файла</label>
                            <textarea class="form-control" name='{{ document.filename }}[text]' style="width: 100%; min-height: 500px">
                                {{ document.text }}
                            </textarea>
                        </div>

                        <input type="hidden" name="{{ document.filename }}[filename]" value="{{ document.filename }}">
                    </div>

                    <div style='width: 100%; text-align:center;'>
                        <button class='btn btn-secondary' type='submit'>Загрузить</button>
                    </div>
                </form>
            </div>

            <hr class="m-b-2">
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        window.treeData = JSON.parse({{ category_tree|json_encode|raw }});
    </script>
    <script src="/assets/js/admin/admin.js" defer></script>
{% endblock %}