{% extends 'layouts/admin/base.html.twig' %}

{% block body %}

    <div class='container'>
        <h1>Загрузка каталога</h1>

        {% if app.session.flashBag.has('success_messages') %}
            <div class="alert alert-success" role="alert">
                {% for message in app.session.flashBag.get('success_messages') %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('error_messages') %}
            <div class="alert alert-danger" role="alert">
                {% for message in app.session.flashBag.get('error_messages') %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form action='{{ path('admin_document_confirm_upload') }}' method='POST' enctype="multipart/form-data">

            <div class="upload-item row">
                <div class="col-4">
                    <label for="">Категория каталога</label>

                    {# react-tree #}
                    <div class="tree-container"></div>
                    {# /react-tree #}
                </div>

                <div class="catalog-upload-inputs col-8">

                    <div class="form-group">
                        <label for="">Файл каталога</label>

                        <input class='form-control' type='file' name='file' accept="application/pdf" max="">
                    </div>

                    <div class="form-group">
                        <label for="">Название файла</label>

                        <input class="form-control" name="originFilename" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label for="">Название производителя</label>

                        <select class="form-control" name="manufacturer">
                            {% for manufacturer in manufacturers.items %}
                                <option>{{ manufacturer.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Языка каталога</label>

                        <select class="form-control" name="lang">
                            {% for lang in languages.items %}
                                <option>{{ lang.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Текст файла</label>
                        <textarea class="form-control" name='text' style="width: 100%; min-height: 500px"></textarea>
                    </div>

                    <input type="hidden" name="categoryIds" value="" class="category_ids_input">
                </div>
            </div>

            <hr class="m-b-2">

            <div style='width: 100%; text-align:center;'>
                <button class='btn btn-secondary' type='submit'>Загрузить</button>
            </div>

        </form>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        window.treeData = JSON.parse({{ category_tree|json_encode|raw }});
    </script>
    <script src="{{ asset('/assets/js/admin/admin.js') }}" defer></script>
{% endblock %}