<!DOCTYPE html>
<html lang="ru" class="w-100 h-100">
    <head>
        <base href='{{ path('app_homepage') }}'>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A-FLOW</title>
        
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <link rel="stylesheet" href="css/main.css">
        {% endblock %}

    </head>
    <body class="w-100 h-100">

        {% block header %} {{ include('layouts/default/header.html.twig') }} {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %} {{ include('layouts/default/footer.html.twig') }} {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
